@import "variables";

.viewpage {
    form {
        direction: rtl;
        border-radius: 15px;
        @include boxshadow(0, 0, 6px, 0, rgba(0, 0, 0, 0.16));
        background-color: #ffffff;
    }

    .info-section {
        h1 {
            margin-bottom: 0;
            font-size: 11px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.75;
            letter-spacing: normal;
            text-align: right;
            color: $headercolor;

            @media screen and (min-width: $break-small) {
                font-size: 12px;
            }

            @media screen and (min-width: $break-medium) {
                font-size: 14px;
            }
        }

        .input-group:focus-within {
            .input-group-prepend {
                background-color: $backgroundcolor;

                border-radius: 0.25rem;
                outline: 0;
            }
        }

        .input-group {
            .font-family {
                font-family: $Roboto-Bold-font;
                font-size: 11px;

                @media screen and (min-width: $break-small) {
                    font-size: 12px;
                }

                @media screen and (min-width: $break-medium) {
                    font-size: 14px;
                }
            }

            .rounded-right-0 {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }

    .question-section {
        h1 {
            margin-bottom: 0 !important;
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.75;
            letter-spacing: normal;
            text-align: right;
            color: $darkgreen;

            @media screen and (min-width: $break-small) {
                font-size: 14px;
            }

            @media screen and (min-width: $break-medium) {
                font-size: 15px;
            }
        }

        .line {
            @include border(rgba(0, 0, 0, 0.25), 0.5px);
            margin-left: 20px;
        }

        .padding-40 {
            padding-right: 0;
            padding-left: 10px;

            @media screen and (min-width: $break-small) {
                padding-right: 15px;
                padding-left: 25px;
            }

            @media screen and (min-width: $break-medium) {
                // padding-right: 20px;
                // padding-left: 20px;
            }
        }

        h1.question-header {
            font-size: 13px;
            font-weight: bold;
            color: $green;

            @media screen and (min-width: $break-small) {
                font-size: 14px;
            }

            @media screen and (min-width: $break-medium) {
                font-size: 15px;
            }
        }

        .question-state {
            & > div {
                font-size: 10px;
                padding: 0;
                text-align: center;
                color: $textinputcolor;
            }
        }

        .question-emoji {
            & > label {
                display: flex;
                justify-content: center;
                align-items: center;
                line-height: 0;
                padding: 0;
                //text-align: center;
                font-size: 18px;
                
                cursor: pointer;
                color: #bfbfbf;
                @media screen and (min-width: $break-small) {
                    font-size: 21px;
                }

                input[type="radio"] {
                    position: absolute;
                    cursor: pointer;
                    // top: -10px;
                    // right: 8px;
                    width: 25px;
                    height: 25px;
                    //z-index: -1;
                    opacity: 0;
                }
            }

            & > label.active-great {
                color: #00c853;
                font-weight: bold;
            }
            & > label.active-good {
                color: #08f;
                font-weight: bold;
            }
            & > label.active-soso {
                color: #ffa200;
                font-weight: bold;
            }
            & > label.active-sad {
                color: #f00;
                font-weight: bold;
            }
        }
    }

    .btn-group label {
        font-family: sq-icon;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
    }

    .question-title {
        font-size: 11px;
        font-weight: normal;
        color: $textinputcolor;

        @media screen and (min-width: $break-small) {
            font-size: 12px;
        }

        @media screen and (min-width: $break-medium) {
            font-size: 14px;
        }

        @media screen and (min-width: $break-large) {
            font-size: 13px;
        }
    }

    .dot-line {
        display: flex;
        @include border(rgba(0, 0, 0, 0.25), 0.5px, dashed);

        @media screen and (min-width: $break-small) {
            display: flex;
        }
    }
}

body,
html {
    height: 100%;
    background-color: $backgroundcolor;
    font-family: $iranyekan-light;
}

.blue::before {
    color: red;
}
