// colors

$backgroundcolor: #f3f3f3 ;
$headercolor: #ffa200;
$textinputcolor: #707070;

//fonts
$iransans-bold-web-font: 'IRANSans-Bold-web';
$iransans-light-web-font: 'IRANSans-Light-web';
$iransans-ultralight-web-font: 'IRANSans-UltraLight-web';
$iransans-web-font: 'IRANSans-web';
$Roboto-Bold-font: 'roboto-bold',sans-serif;
$Roboto-Regular-font: 'roboto-regular',sans-serif;


//spaces
$spacer: 10px;

$space-0: 0;
$space-1: ($spacer * .25);
$space-2: ($spacer * .5);
$space-3: ($spacer * 1.5);
$space-4: ($spacer * 2);


