@font-face {
  font-family: 'sq-icon';
  src: url("../fonts/icons/sq-icon.eot");
  src: url("../fonts/icons/sq-icon.eot") format("embedded-opentype"), url("../fonts/icons/sq-icon.ttf") format("truetype"), url("../fonts/icons/sq-icon.woff") format("woff"), url("../fonts/icons/sq-icon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "IRANSans-web";
  src: url("../fonts/iransanc/IRANSans-web.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "IRANSans-Bold-web";
  src: url("../fonts/iransanc/IRANSans-Bold-web.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "IRANSans-Light-web";
  src: url("../fonts/iransanc/IRANSans-Light-web.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "IRANSans-UltraLight-web";
  src: url("../fonts/iransanc/IRANSans-UltraLight-web.ttf");
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "IRANYekan-Light";
  src: url("../fonts/iranyekan/IRANYekanLight.ttf");
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "IRANYekan-Bold";
  src: url("../fonts/iranyekan/IRANYekanBold.ttf");
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "IRANYekan-Regular";
  src: url("../fonts/iranyekan/IRANYekanRegular.ttf");
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "roboto-bold", sans-serif;
  src: url("../fonts/roboto/Roboto-Bold.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "roboto-regular", sans-serif;
  src: url("../fonts/roboto/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sq-icon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-file-document-edit-outline:before {
  content: "\e902";
  color: #00756b;
}

.icon-account:before {
  content: "\e903";
  color: #00756b;
}

.icon-airplane:before {
  content: "\e900";
  color: #00756b;
}

.icon-account-check:before {
  content: "\e904";
  color: #00756b;
}

.icon-airplane-landing:before {
  content: "\e901";
  color: #00756b;
}

.icon-airplane-takeoff:before {
  content: "\e905";
  color: #00756b;
}

.icon-email-outline:before {
  content: "\e906";
  color: #00756b;
}

.icon-great:before {
  content: "\e908";
}

.icon-good:before {
  content: "\e90a";
}

.icon-phone:before {
  content: "\e90b";
  color: #00756b;
}

.icon-soso:before {
  content: "\e90f";
}

.icon-sad:before {
  content: "\e90c";
}

.icon-seat-passenger:before {
  content: "\e910";
  color: #00756b;
}

.icon-calendar:before {
  content: "\e911";
  color: #00756b;
}

.viewpage form {
  direction: rtl;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}

.viewpage .info-section h1 {
  margin-bottom: 0;
  font-size: 11px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: right;
  color: #ffa200;
}

@media screen and (min-width: 576px) {
  .viewpage .info-section h1 {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) {
  .viewpage .info-section h1 {
    font-size: 14px;
  }
}

.viewpage .info-section .input-group:focus-within .input-group-prepend {
  background-color: #f3f3f3;
  border-radius: 0.25rem;
  outline: 0;
}

.viewpage .info-section .input-group .font-family {
  font-family: "roboto-bold", sans-serif;
  font-size: 11px;
}

@media screen and (min-width: 576px) {
  .viewpage .info-section .input-group .font-family {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) {
  .viewpage .info-section .input-group .font-family {
    font-size: 14px;
  }
}

.viewpage .info-section .input-group .rounded-right-0 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.viewpage .question-section h1 {
  margin-bottom: 0 !important;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: right;
  color: #014d46;
}

@media screen and (min-width: 576px) {
  .viewpage .question-section h1 {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .viewpage .question-section h1 {
    font-size: 15px;
  }
}

.viewpage .question-section .line {
  border: 0.5px solid rgba(0, 0, 0, 0.25);
  margin-left: 20px;
}

.viewpage .question-section .padding-40 {
  padding-right: 0;
  padding-left: 10px;
}

@media screen and (min-width: 576px) {
  .viewpage .question-section .padding-40 {
    padding-right: 15px;
    padding-left: 25px;
  }
}

.viewpage .question-section h1.question-header {
  font-size: 13px;
  font-weight: bold;
  color: #00756b;
}

@media screen and (min-width: 576px) {
  .viewpage .question-section h1.question-header {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .viewpage .question-section h1.question-header {
    font-size: 15px;
  }
}

.viewpage .question-section .question-state > div {
  font-size: 10px;
  padding: 0;
  text-align: center;
  color: #707070;
}

.viewpage .question-section .question-emoji > label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 0;
  padding: 0;
  font-size: 18px;
  cursor: pointer;
  color: #bfbfbf;
}

@media screen and (min-width: 576px) {
  .viewpage .question-section .question-emoji > label {
    font-size: 21px;
  }
}

.viewpage .question-section .question-emoji > label input[type="radio"] {
  position: absolute;
  cursor: pointer;
  width: 25px;
  height: 25px;
  opacity: 0;
}

.viewpage .question-section .question-emoji > label.active-great {
  color: #00c853;
  font-weight: bold;
}

.viewpage .question-section .question-emoji > label.active-good {
  color: #08f;
  font-weight: bold;
}

.viewpage .question-section .question-emoji > label.active-soso {
  color: #ffa200;
  font-weight: bold;
}

.viewpage .question-section .question-emoji > label.active-sad {
  color: #f00;
  font-weight: bold;
}

.viewpage .btn-group label {
  font-family: sq-icon;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.viewpage .question-title {
  font-size: 11px;
  font-weight: normal;
  color: #707070;
}

@media screen and (min-width: 576px) {
  .viewpage .question-title {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) {
  .viewpage .question-title {
    font-size: 14px;
  }
}

@media screen and (min-width: 992px) {
  .viewpage .question-title {
    font-size: 13px;
  }
}

.viewpage .dot-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 0.5px dashed rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 576px) {
  .viewpage .dot-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

body,
html {
  height: 100%;
  background-color: #f3f3f3;
  font-family: "IRANYekan-Light";
}

.blue::before {
  color: red;
}
/*# sourceMappingURL=App.css.map */