@font-face {
  font-family: 'sq-icon';
  src: url("../fonts/icons/sq-icon.eot");
  src: url("../fonts/icons/sq-icon.eot") format("embedded-opentype"), url("../fonts/icons/sq-icon.ttf") format("truetype"), url("../fonts/icons/sq-icon.woff") format("woff"), url("../fonts/icons/sq-icon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "IRANSans-web";
  src: url("../fonts/iransanc/IRANSans-web.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "IRANSans-Bold-web";
  src: url("../fonts/iransanc/IRANSans-Bold-web.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "IRANSans-Light-web";
  src: url("../fonts/iransanc/IRANSans-Light-web.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "IRANSans-UltraLight-web";
  src: url("../fonts/iransanc/IRANSans-UltraLight-web.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "roboto-bold", sans-serif;
  src: url("../fonts/roboto/Roboto-Bold.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "roboto-regular", sans-serif;
  src: url("../fonts/roboto/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sq-icon' !important;
  speak-as: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-file-document-edit-outline:before {
  content: "\e902";
  color: #00756b;
}

.icon-account:before {
  content: "\e903";
  color: #00756b;
}

.icon-airplane:before {
  content: "\e900";
  color: #00756b;
}

.icon-account-check:before {
  content: "\e904";
  color: #00756b;
}

.icon-airplane-landing:before {
  content: "\e901";
  color: #00756b;
}

.icon-airplane-takeoff:before {
  content: "\e905";
  color: #00756b;
}

.icon-email-outline:before {
  content: "\e906";
  color: #00756b;
}

.icon-emoji-1-1:before {
  content: "\e907";
  color: #00c853;
}

.icon-emoji-1:before {
  content: "\e908";
  color: #bfbfbf;
}

.icon-emoji-2:before {
  content: "\e909";
  color: #08f;
}

.icon-emoji:before {
  content: "\e90a";
  color: #bfbfbf;
}

.icon-phone:before {
  content: "\e90b";
  color: #00756b;
}

.icon-sad-1:before {
  content: "\e90c";
  color: #bfbfbf;
}

.icon-sad-2:before {
  content: "\e90d";
  color: #ffa200;
}

.icon-sad-3:before {
  content: "\e90e";
  color: #f00;
}

.icon-sad:before {
  content: "\e90f";
  color: #bfbfbf;
}

.icon-seat-passenger:before {
  content: "\e910";
  color: #00756b;
}

.icon-calendar:before {
  content: "\e911";
  color: #00756b;
}

.viewPagePageFields {
  position: relative;
  border: 1px solid #dadce0;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.141), 0 1px 3px 0 rgba(0, 0, 0, 0.122);
          box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.141), 0 1px 3px 0 rgba(0, 0, 0, 0.122);
  -webkit-transition: -webkit-box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

.viewPageThemeStripe {
  width: 100%;
  background-color: #009688;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 10px;
  left: 0;
  position: absolute;
  top: 0;
}

.viewpage form {
  direction: rtl !important;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}

.viewpage h1 {
  margin-bottom: 0 !important;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: right;
  color: #ffa200;
}

.viewpage .input-group:focus-within {
  background-color: #f3f3f3;
  border-radius: .25rem;
  outline: 0;
}

.viewpage .input-group .font-family {
  font-family: "roboto-bold", sans-serif;
}

.viewpage .input-group .rounded-right-0 {
  font-size: .9rem;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

body,
html {
  height: 100%;
  background-color: #f3f3f3;
  font-family: "IRANSans-web";
}

.py-3 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
/*# sourceMappingURL=App.css.map */